.nav {
    background-color: yellow;
    list-style-type: none;
    text-align: center; 
    padding: 0;
    margin: 0;
  }
  
  .nav link {
    display: inline-block;
    width: 20vw;
    color: black;
    font-size: 20px;
    padding: 20px;
  }

  .text-section {
    text-align: center; 
}

.text-box {
    display: inline-block; 
    width: 45%; 
    background-color: black; 
    color: wheat; 
    padding: 10px; 
    margin: 5%; 
    border: 2px solid blue; 
    border-radius: 5px; 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
