* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: green;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 24px;
}

footer {
    background-color: brown;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 18px;
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.sidebar {
    background-color: lightgray;
    width: 20%;
    padding: 20px;
}

.main {
    background-color: white;
    width: 75%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

article {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
}

article h2 {
    margin-bottom: 10px;
}

article p {
    background-color: yellowgreen;
    color: black;
    border-radius: 10px;
    padding: 10px;
}
